<html>

<head>
    <link rel="stylesheet" href="/public/style.css">
    <title>{{title}}</title>
</head>

<body>

    <nav>
        <div class="left-side">
            <a href="/">
                <img src="/public/assets/logo.png" alt="">
            </a>
            <ul>
                <li>
                    <a class="active" href="/">Home </a>
                </li>
                <li>
                    <a href="/list">My Project</a>
                </li>
            </ul>
        </div>

        <div class="right-side">
            <a href="/contact">Contact Me</a>
        </div>
    </nav>

    <div class="personal">
        <div class="upside">
            <div class="container-content">
                <div class="left">
                    <div class="about-messere">

                        <h1>Hi Welcome to my hut</h1>
                        <p class="messere-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore magna aliqua. At volutpat diam ut venenatis tellus in. Accumsan tortor posuere ac ut
                            consequat
                            semper
                            viverra nam libero. Pretium viverra suspendisse potenti nullam ac. Eleifend quam adipiscing
                            vitae proin
                            sagittis nisl rhoncus. Maecenas sed enim ut sem viverra aliquet eget sit.
                        </p>
                        <a
                            href="https://api.whatsapp.com/send/?phone=6282249468348&text&type=phone_number&app_absent=0"><button
                                class="messere-contact-button">
                                contact</button></a>

                        <p style="font-size: larger;">
                            download CV <a
                                href="https://doc-10-b0-docs.googleusercontent.com/docs/securesc/02k9t1ghm21v1aq07jbplgi2435ivt6m/8pc2n23uamvkmn4f951psc3vn6n8t70c/1657514400000/12992191697203917806/12992191697203917806/1C9w8YQRnsET6_RnDYrWzAt8clRrBIUMo?e=download&ax=ACxEAsbXwAMR1CMRl141xEQOXquix8dYy8966gjUaj-84KVvhzH4bF2nAIumdv_67XP9M0eca7-Mek_hmqZRxaboGuppwI6QselTfV1PQ0kcMu4XppgNuE6uieUx4hh4gRDRHhMkoIszUZIoyUtVqwWtWA_UGD_QcaEti8dwoU5NgIzCefwVBBkgcBy7sEiVzyn9WPMFzHi_mkdO9wWuYCfdk3o3-nRVyzE9m82qgljlRQqsZg9Q5BvYWsVFuT78ET4-Ngu7rLgayxJeiBUNkgubCsmAdlQGp0reWjvzKU-j1DYq9oKoQwfoV7jq-dLfRJuPobxv7LlvbEbA_SOaGe_SRrruZpGjSpUGE_hHBcdoLwAlg0ErmPJqF_7rdHU-bea1XdfxwZ-jnVj6FNgqdGN5cLdd3LNxnKJSkavJHOxOXkvQYR0icxQx2o0MUq-oRa4LDwYnyi5Nt5-VKe_CskNJxbDiqiNMZwzLiZDYh5G00-PaDJlijSwOak5VEVlZBNjjc17OPBPeUgCUqhKsxaFAtk3pIroJBIDLT7QNsaBPxlWP40TvSX4UdLYq844HXLzhmtt0mSNP2lBHFuFnTz_l36DYZs9HN43GF0ISYhCtyZC4GWzxEXuHcPejLYXfNqvxCrMenXMzHbiNK6WIqcWiyyKH-ya4tPwUxLh2Jmc4Dc4emFr-uPQZn7CiQehV8aSKKQaRVdOu6aVmcUbzsiqWeyx6qaxKL_OHRYDOhacmLRD6c3z-jMl7mHAam9r-FaFcyNP_7Ii5iHs-dumDf7OVUg&uuid=0a086363-c2c1-4993-ba1b-4612de963332&authuser=0&nonce=usloth8d23atu&user=12992191697203917806&hash=u7n8q1lc4m5076glm9ui431645fo0ttb">
                                <img src="/public/assets/download.png" style="width: 25px;" /></a>
                        </p>
                        <p class="messere-contact">
                            <a href="https://www.linkedin.com/in/ananda-faisal-8494961b9/"><img
                                    src="/public/assets/linkedin.png" style="width: 45px;""></button>
                            <a href=" https://www.instagram.com/schwanzeirstagram_033/"><img
                                    src="/public/assets/instagram.png" style="width: 45px;""></a>
                            <a href=" https://www.facebook.com/schwanzeirs.stroheim/"><img
                                    src="/public/assets/facebook.png" style="width: 45px;""></a>
                            <a href=" https://twitter.com/Schwanzeirs"><img src="/public/assets/twitter.png"
                                    style="width: 45px;""></a>
                        </p>
                    </div>
                </div>
            <div class=" right">
                                <div class="messere-box">
                                    <img class="messere-img" src="/public/assets/profil.jpeg" />
                                    <h1 class="messere">Ananda Faisal</h1>
                                    <p style="text-align: center;">Fullstack Developer</p>
                                </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="downside">
            <div class="card" id="contents">
                <div class="contents">
                    <h1>
                        <a href="/detail" target="_blank">Vanitas Vanitatum et omnia Vanitas</a>
                    </h1>
                    <img src="/public/assets/profil.jpeg" alt="" class="project-image">
                    <span class="text-post">1 hour ago</span>
                    <div>
                        07 Juli 2022 17:00 WIB | Black Suit
                    </div>
                    <p class="project-description">
                        Sefirot (/sfɪˈroʊt, ˈsfɪroʊt/; Hebrew: סְפִירוֹת səp̄īrōṯ), meaning emanations, are the
                        10
                        attributes/emanations in Kabbalah, through which Ein Sof (The Infinite) reveals itself
                        and
                        continuously
                        creates both the physical realm and the chain of higher metaphysical realms (Seder
                        hishtalshelus). The
                        term is alternatively transliterated into English as sephirot/sephiroth, singular
                        sefirah/sephirah, etc.
                    </p>
                    <a href="https://nodejs.org/en/"><img src="/public/assets/nodejs.png" alt=""
                            class="project-logo" /></a>
                    <a href="https://nextjs.org/"><img src="/public/assets/nextjs.png" alt=""
                            class="project-logo" /></a>
                    <a href="https://reactjs.org/"><img src="/public/assets/reactsj.png" alt=""
                            class="project-logo" /></a>
                    <a href="https://www.typescriptlang.org/"><img src="/public/assets/typescript.png" alt=""
                            class="project-logo" /></a>
                    <div class="btn-group">
                        <button class="btn-edit">Edit Project</button>
                        <button class="btn-delete">Delete Project</button>
                    </div>
                </div>
                <div class="contents">
                    <h1>
                        <a href="/detail" target="_blank">Vanitas Vanitatum et omnia Vanitas</a>
                    </h1>
                    <img src="/public/assets/profil.jpeg" alt="" class="project-image">
                    <span class="text-post">1 hour ago</span>
                    <div>
                        07 Juli 2022 17:00 WIB | Black Suit
                    </div>
                    <p class="project-description">
                        Sefirot (/sfɪˈroʊt, ˈsfɪroʊt/; Hebrew: סְפִירוֹת səp̄īrōṯ), meaning emanations, are the
                        10
                        attributes/emanations in Kabbalah, through which Ein Sof (The Infinite) reveals itself
                        and
                        continuously
                        creates both the physical realm and the chain of higher metaphysical realms (Seder
                        hishtalshelus). The
                        term is alternatively transliterated into English as sephirot/sephiroth, singular
                        sefirah/sephirah, etc.
                    </p>
                    <a href="https://nodejs.org/en/"><img src="/public/assets/nodejs.png" alt=""
                            class="project-logo" /></a>
                    <a href="https://nextjs.org/"><img src="/public/assets/nextjs.png" alt=""
                            class="project-logo" /></a>
                    <a href="https://reactjs.org/"><img src="/public/assets/reactsj.png" alt=""
                            class="project-logo" /></a>
                    <a href="https://www.typescriptlang.org/"><img src="/public/assets/typescript.png" alt=""
                            class="project-logo" /></a>
                    <div class="btn-group">
                        <button class="btn-edit">Edit Project</button>
                        <button class="btn-delete">Delete Project</button>
                    </div>
                </div>
                <div class="contents">
                    <h1>
                        <a href="/detail" target="_blank">Vanitas Vanitatum et omnia Vanitas</a>
                    </h1>
                    <img src="/public/assets/profil.jpeg" alt="" class="project-image">
                    <span class="text-post">1 hour ago</span>
                    <div>
                        07 Juli 2022 17:00 WIB | Black Suit
                    </div>
                    <p class="project-description">
                        Sefirot (/sfɪˈroʊt, ˈsfɪroʊt/; Hebrew: סְפִירוֹת səp̄īrōṯ), meaning emanations, are the
                        10
                        attributes/emanations in Kabbalah, through which Ein Sof (The Infinite) reveals itself
                        and
                        continuously
                        creates both the physical realm and the chain of higher metaphysical realms (Seder
                        hishtalshelus). The
                        term is alternatively transliterated into English as sephirot/sephiroth, singular
                        sefirah/sephirah, etc.
                    </p>
                    <a href="https://nodejs.org/en/"><img src="/public/assets/nodejs.png" alt=""
                            class="project-logo" /></a>
                    <a href="https://nextjs.org/"><img src="/public/assets/nextjs.png" alt=""
                            class="project-logo" /></a>
                    <a href="https://reactjs.org/"><img src="/public/assets/reactsj.png" alt=""
                            class="project-logo" /></a>
                    <a href="https://www.typescriptlang.org/"><img src="/public/assets/typescript.png" alt=""
                            class="project-logo" /></a>
                    <div class="btn-group">
                        <button class="btn-edit">Edit Project</button>
                        <button class="btn-delete">Delete Project</button>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>